/*
  Jennifer Tao, Eric Yu
  12 03 2021
  Section AE, Tim Mandzyuk, Nikola Bojanic

  This is the styles for my order confirm page.
  It styles the background image and text. It uses black color theme.
*/
.confirm-view {
  text-align: center;
}

/* This uses an image from https://gifs.alphacoders.com/gifs/view/14624 */
.confirm-view .confirm-img {
  background-image: url("imgs/orderbonfire.gif");
  margin: 20px 0;
  width: 100%;
  height: 350px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.hidden {
  display: none;
}