/*
  Jennifer Tao
  12 03 2021
  Section AE, Tim Mandzyuk, Nikola Bojanic

  This is the structures.css page for my data structue page.
  It seperate the stack and queue section by color, and
  includes styles for elements in each data structure.
*/
.iteminfo {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.iteminfo .item-desc {
  white-space: pre-line;
}

.iteminfo .item-name {
  font-size: 34px;
}

.iteminfo .rating {
  margin: 0;
}

.iteminfo .rating .token {
  background-image: url("https://static.wikia.nocookie.net/darksouls/images/9/9f/Sunlight_Medal_%28DSIII%29.png/revision/latest/scale-to-width-down/512?cb=20160614082340");
  background-repeat: no-repeat;
  background-position: -8px 0px;
  background-size: 50px 50px;
  width: 32px;
  height: 50px;
  display: inline-block;
}

.iteminfo .rating-num {
  display: inline-block;
  position: relative;
  top: -20px;
  font-size: 20px;
  margin-inline-end: 20px;
  margin-inline-start: 0px;
}

.iteminfo .buy-btn {
  background-color: white;
  border: none;
  box-shadow:
    0 0 20px #cabe87,
    0 0 10px #ffffff;
  padding: 5px 30px;
  text-align: center;
  font-size: 18px;
  outline: none;
  font-family: 'Almendra', serif;
  font-weight: bold;
}

.iteminfo .unavaliable {
  background-color: rgb(190, 190, 190);
  box-shadow: 0 0 0 black;
}

.reviews {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reviews .review {
  margin: 5px 0px;
}

.reviews .review-title {
  text-align: center;
  font-size: 28px;
}

.reviews .username, .reviews .user-rating {
  display: inline-block;
  margin: 0 15px;
}

.reviews .user-rating {
  font-size: 20px;
  font-weight: bold;
}

.reviews .review .time {
  margin: 5px 15px;
}

.reviews .comment {
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Fuzzy Bubbles', cursive;
  padding-left: 35px;
  text-shadow:
    0px 0px 15px rgb(83, 0, 0),
    2px 2px 15px rgb(151, 30, 30),
    2px -2px 15px rgb(151, 30, 30),
    -2px -2px 15px rgb(151, 30, 30),
    -2px 2px 15px rgb(151, 30, 30);
}

.hidden {
  display: none;
}