.products .productimg {
  width: 250px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.products .product {
  transition: all 200ms ease-out;
}

.products .product:hover {
  box-shadow: 0px 0px 5px grey;
}

.products .price {
  color: ghostwhite;
}

.grid .rating-num, .grid .item-desc {
  display: none;
}

.grid.products {
  flex-direction: row;
  gap: 5px 15px;
}

.list.products {
  flex-direction: column;
  align-items: stretch;
  gap: 10px 0;
}

.list .rating-num, .list .item-desc {
  display: block;
  white-space: pre-line;
}

.list .productimg, .list .item-info {
  display: inline-block;
  vertical-align: top;
}

.list .item-info {
  width: 75%;
}

.list .productimg {
  width: 18%;
}

.tools {
  width: 100%;
  margin: 20px 0;
}

/** Reference https://codepen.io/chriscoyier/pen/JjozJLv **/
.tools .switch-wrapper {
  top: -3px;
  position: relative;
  display: inline-block;
}

.switch-wrapper .switch-input {
  display: none;
}

.switch-wrapper .switch-label {
  color: white;
  display: block;
  width: 200px;
  height: 26px;
  text-indent: 60px;
  clip: rect(0 0 0 0);
  user-select: none;
}

.switch-wrapper .switch-label:before,
.switch-label:after {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
}

.switch-wrapper .switch-label:before {
  width: 25%;
  height: 100%;
  background-color: #dedede;
  border-radius: 9999em;
  transition: background-color 0.25s ease;
}

.switch-wrapper .switch-label:after {
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
  transition: left 0.25s ease;
}

.switch-wrapper .switch-input:checked + .switch-label:before {
  background-color: #89c12d;
}

.switch-wrapper .switch-input:checked + .switch-label:after {
  left: 24px;
}

#search-term {
  margin-left: 10px;
  width: 350px;
  height: 24px;
}

.tools select {
  width: 150px;
  height: 27px;
  font-family: 'Almendra', serif;
  font-weight: bold;
  border: none;
  outline: none;
  margin: 0 5px;
}

#search-btn {
  width: 100px;
  height: 30px;
  font-family: 'Almendra', serif;
  font-weight: bold;
}

#filter-type {
  float: right;
  margin-right: 0;
}

.hidden {
  display: none;
}